<h1>Editing Link</h1>

<%= render 'form' %>

<%= link_to 'Back', @link %> |
<%= link_to 'All Links', links_path %> |
<%= link_to 'Delete', link_path(@link), data: { confirm: 'Are you sure?' }, method: :delete %>
